h1.intro,
h2.intro,
h2.subheading {
  text-align: center;
  font-family: sans-serif;
  color: grey;
}

img.intro{
  border-style: solid 2px blue;
  width: 70%;
  margin-left: 15%;
}

p.intro{
  text-align: center;
  font-family: cursive;
  color: pink;
}
